body {
  background: black;
}

#welcome {
  color: white;
}
.map {
text-align: center;
}

.labyrinth-grid {
  justify-content: center;
  text-align: center;
}

table {
  margin: auto;
}

#player {
  font-size: 10px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow .8s ease-in-out infinite alternate;
  -moz-animation: glow .8s ease-in-out infinite alternate;
  animation: glow .8s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow:0 0 6px #e14140, 0 0 8px #e14140, 0 0 10px #e14140, 0 0 12px #e14140, 0 0 14px #e14140;
  }

  to {
    text-shadow:0 0 2px #e14140, 0 0 4px #e14140;
  }
}

.tile {
  border: solid black 1px;
  height: 1.5vw;
  width: 1.5vw;
}

.tile-u {
  border-left: solid red 1px;
  border-right: solid red 1px;
  border-bottom: solid red 1px;
  border-top: none;
}

.tile-p {
  border-left: solid red 1px;
  border-right: solid red 1px;
  border-top: none;
  border-bottom: none;
}

