body {
  background: black;
}

#welcome {
  color: white;
}
.map {
text-align: center;
}

.labyrinth-grid {
  justify-content: center;
  text-align: center;
}

table {
  margin: auto;
}

#player {
  font-size: 10px;
  text-align: center;
  -webkit-animation: glow .8s ease-in-out infinite alternate;
  -moz-animation: glow .8s ease-in-out infinite alternate;
  animation: glow .8s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow:0 0 6px #e14140, 0 0 8px #e14140, 0 0 10px #e14140, 0 0 12px #e14140, 0 0 14px #e14140;
  }

  to {
    text-shadow:0 0 2px #e14140, 0 0 4px #e14140;
  }
}

#finish {
  font-size: 10px;
  text-align: center;
  -webkit-animation: glowa .8s ease-in-out infinite alternate;
  -moz-animation: glowa .8s ease-in-out infinite alternate;
  animation: glowa .8s ease-in-out infinite alternate;
}

@-webkit-keyframes glowa {
  from {
    text-shadow:0 0 6px #2686de, 0 0 8px #2686de, 0 0 10px #2686de, 0 0 12px #2686de, 0 0 14px #2686de;
  }

  to {
    text-shadow:0 0 2px #2686de, 0 0 4px #2686de;
  }
}

.tile {
  height: 1.8vw;
  width: 1.8vw;
}

.tile-u {
  border-left: solid red 1px;
  border-right: solid red 1px;
  border-bottom: solid red 1px;
}

.tile-p {
  border-left: solid red 1px;
  border-right: solid red 1px;
}

.tile-r {
  border-left: solid red 1px;
  border-bottom: solid red 1px;
}

.tile-l {
  border-right: solid red 1px;
  border-bottom: solid red 1px;
}

.tile-m {
  border-top: solid red 1px;
  border-left: solid red 1px;
}

.tile-n {
  border-top: solid red 1px;
  border-right: solid red 1px;
}

.tile-d {
  border-top: solid red 1px;
  border-left: solid red 1px;
  border-right: solid red 1px;
}

.tile-0 {
  border-left: solid red 1px;
}

.tile-1 {
  border-right: solid red 1px;
}

.tile-2 {
  border-top: solid red 1px;
}

.tile-3 {
  border-bottom: solid red 1px;
}

.tile-4 {
}

.tile-h {
  border-top: solid red 1px;
  border-bottom: solid red 1px;
}

.tile-x {
  border-top: solid red 1px;
  border-bottom: solid red 1px;
  border-left: solid red 1px;
}

.tile-y {
  border-top: solid red 1px;
  border-bottom: solid red 1px;
  border-right: solid red 1px;
}

